body {
  background-color:lightseagreen;
  height: 100%;
  width: 100%;
  text-align: left;
}
img {
  float: left;
}
.sidebar {
  width: 56%;
  height: 530px;
  float: right;
  border:solid black;
  background-color: greenyellow;
}
.bigger {
  font-size: x-large;
}
h1 {
  color: rebeccapurple
}
