body {
  background-color:lightseagreen;
  height: 100%;
  width: 100%;
  text-align: left;
}
img {
  float: left;
}
.sidebar {
  width: 56%;
  height: 530px;
  float: right;
  border:solid black;
  background-color: greenyellow;
}
.bigger {
  font-size: x-large;
}
h1 {
  color: rebeccapurple
}
.col-md-4 {
  text-align: center;
  /* background-color: indigo; */
  font-size: 30px;
  margin:30%;
  margin-right: 5% !important;
  margin-bottom: 10%;
  margin-top: 1%;

}